@import url(https://fonts.googleapis.com/css?family=Muli&display-swap);
$theme-font: 'Muli, sans-serif';
$main-color: pink;
$border-color: blue;
$subtitule-color:white;
body {
  background: $main-color;
  font-family: $theme-font;
}
